.page_container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.page_container .body_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page_container .data_input_box {
  width: 1090px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  overflow: auto;
  scroll-behavior: smooth;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.page_container .data_input_box .faded_top {
  position: absolute;
  width: 1050px;
  height: 200px;
  background: linear-gradient(rgb(255, 255, 255), rgba(255, 255, 255, 0));
  z-index: 5;
}

.address label {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 100px;
}

.address .input {
  width: 100%;
  height: 80px;
  background: rgba(255, 110, 0, 0.12);
  border: 10px;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: 0.3s ease-in-out;
}

.address .input .icon {
  width: 10%;
  height: 100%;
  background-color: #10ddf5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.address .input input {
  height: 100%;
  width: 60%;
  border: none;
  padding-left: 40px;
  outline: none;
  background: transparent;
}

.address .input .use_your_loc {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.address .input .use_your_loc .text {
  color: #10ddf5;
  margin-left: 20px;
}

.address .input .use_your_loc .loc_icon {
  background-color: rgba(1, 202, 227, 0.25);
  height: 48px;
  width: 48px;
  border-radius: 48px;
}

.address .input:focus-within {
  border: 1px solid black;
}

.vech_type label {
  font-size: 40px;
  font-weight: 700;
  color: #000;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}

.vech_type .vech {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.vech_type .vech .vech_card {
  width: 260px;
  height: 300px;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
}

.vech_type .vech_card img {
  width: 315px;
  height: 300px;
}

.vech_type .vech_card .text {
  font-size: 24px;
  color: #000;
  font-weight: 700;
  position: absolute;
  bottom: 20px;
  transform: translateX(50px);
}

.cont_btn_container {
  text-align: center;
}

.cont_btn {
  background-color: #10ddf5;
  border-radius: 100px;
  border: none;
  font-size: 24px;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  margin-top: 50px;
  width: 300px;
  height: 80px;
}
